<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="description" content="DevSecOps and Security Topics Navigation" />
    <title>DevSecOps Topics</title>
    <link rel="stylesheet" href="static/css/sobre_nos/global.css" />
    <link rel="stylesheet" href="static/css/sobre_nos/bloco1.css" />
  </head>
  <body>
    <main class="frame">
      <nav class="div" aria-label="Security Topics Navigation">
        <article class="dev-sec-ops">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper">DevSecOps</h2>
        </article>

        <article class="ethical-hacker">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper">Ethical Hacker</h2>
        </article>

        <article class="software-engineer">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper">Software Engineer</h2>
        </article>

        <article class="pentest">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper">Pentest</h2>
        </article>

        <article class="SAST">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper">SAST</h2>
        </article>

        <article class="DAST">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper">DAST</h2>
        </article>

        <article class="SCA">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper">SCA</h2>
        </article>

        <article class="CI-CD">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper">CI/CD</h2>
        </article>

        <article class="pipeline-de-CI-CD">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper">Pipeline de CI/CD</h2>
        </article>

        <article class="security">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper">Security</h2>
        </article>

        <article class="sobre-ns" aria-current="page">
          <figure class="opened-folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-principal.svg" alt="ícone pasta principal" />
          </figure>
            <h2 class="sobre-n-s">Sobre<br />nós</h2>
        </article>

        <article class="ia-c">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper">IaC</h2>
        </article>

        <article class="container">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper">Cloud Security</h2>
        </article>

        <article class="segurana-de">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper-2">Segurança de Containers</h2>
        </article>

        <article class="dados-quant">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper">Dados &amp; Quant</h2>
        </article>

        <article class="red-team">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper">Red Team</h2>
        </article>

        <article class="blue-team">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper">Blue Team</h2>
        </article>

        <article class="threat-modeling">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="title">Threat Modeling</h2>
        </article>

        <article class="criptografia">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper">Criptografia</h2>
        </article>

        <article class="gesto-de">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="gest-o-de">Gestão de Vulne...</h2>
        </article>

        <article class="kubernetes-security">
          <figure class="folder" aria-hidden="true">
            <img src="static/images/sobre_nos/pasta-comun.svg" alt="ícone de pasta" />
          </figure>
          <h2 class="text-wrapper">Kubernetes Security</h2>
        </article>
      </nav>
    </main>
  </body>
</html>
